
$twitch-icon-image: url("../img/twitch.png");


$twitch-link-color: $link-color;
$twitch-link-hover-color: $link-hover-color;
$twitch-icon-image: url("../img/twitch.png");

.playplayer .twitch-link, .twitch-link {
  color: unset;
  text-decoration: underline;
  transition: text-decoration-color 0.6s ease;
  & > span {
    color: $twitch-link-color;
    transition: text-decoration-color 0.6s ease;
  }
  &:hover{
    color: $twitch-link-hover-color;
    & > span {
      color: $twitch-link-hover-color;
    }
  }
  .twitch-icon {
    content: $twitch-icon-image;
    &.twitch-icon-sm {
      width: $twitch-icon-sm-width;
    }
  }
}

.playplayer{
  .twitch-link{
    color: unset;
    text-decoration: underline;
    text-decoration-color: $viuhti-darkextramegafade;
    transition: text-decoration-color 0.6s ease;
    & > span {
      color: unset;
      text-decoration: underline;
      text-decoration-color: $viuhti-darkextramegafade;
      transition: text-decoration-color 0.6s ease;
    }
    &:hover{
      text-decoration-color: $viuhti-darkextrafade;
      & > span {
        text-decoration-color: $viuhti-darkextrafade;
      }
    }
  }
}
.timetable {
  .ttplay {
    gap: 1em;
    margin-left: 1em;
  }
  .ttplaydate {
    gap: 1em;
    margin-left: 0;
  }
  .playdate {
    font-size: 2.5em;
  }
  .playstart{
    font-size: 1.2rem;
  }
  .playtimehold{
    gap: 0;
    margin-bottom: -0.3em;
  }
  .playtimearrow{
    color: $v_avaruus;
    transform: rotate(-8deg);
    display: inline-block;
  }
  .playtimeend{
    color: $v_munakoiso;
;

  }
  .playleft {
    width: 38%;
    max-width: 180px;
    margin-bottom: 0;
  }
  .playgame{
    font-size: 1.7em;
  }
  .playcategory {
    color: $v_keskiyo
  }
  .playblob {
  }
  .timetable-char {
    height: 100%;
    img.char {
      image-rendering: smooth;
      max-width: 100%;
      max-height: 160px;
      position: relative;
      transform: translate(0, -5px);
      left: auto;
      top: auto
    }
  }
  .charOutline {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

  }

  .playright {
    flex-grow: 1;
    margin-bottom: 0.2em;
  }
  .playgame {
  }
  .playcategory {
  }
}

img.char {
  image-rendering: smooth;
}
.tabletimetable {
  .fullscreen & {
    height: 200vh;
  }
  .timestamps {
      color: $v_valkoinen;
    > div {
      > div {
      }
      > div:nth-child(3) {
      }
    }
  }

  .tttheader {
    .tttday {
      color: $v_valkoinen;
    }
  }
  .tttcontent {
     .tttday {
    }
  }
  .tttgame {
    background-color: $ttt-game-bg-color;
    border: $black 2px solid;
    &.end-cut {
      border-bottom: 2px dotted  $black;
    }
    &.start-cut {
      border-top: 2px dotted  $black;
    }
    &:hover {
      > div {
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.26);
        border: $black 2px solid;
        background-color: $ttt-game-hover-bg-color;
      }
    }
  }
}
