
// Named colors
$viuhti-violet: #87597B;
$viuhti-orange: #c98c7b;
$viuhti-orangedark: #672e1d;
$viuhti-green: #345f65;
$viuhti-darkgreen: #214a4f;
$viuhti-white: #ded5d2;
$viuhti-dark: #16031b;
$viuhti-darkfade: rgba(22, 3, 27, 0.69);
$viuhti-darkextrafade: rgba(22, 3, 27, 0.33);
$viuhti-darkextramegafade: rgba(22, 3, 27, 0.15);
$viuhti-blue: #70b2d3;
$viuhti-highlighviolet: #A3448D;

$viuhti-lightOrange: #EDC1C5;
$viuhti-orange: #CE8A81;
$viuhti-lightPurple: #F5ECF3;
$viuhti-purple: #A3448D;
$viuhti-darkerPurple: #320A45;
$viuhti-darkestPurple: #16031b;
$viuhti-LightBlue: #B7F0F3;
$viuhti-blue: #6FC4DF;
$viuhti-DarkBlue: #5197BF;
$viuhti-forest: #31757E;
$viuhti-darkForest: #345F65;
$viuhti-darkerForest: #123E3A;
$viuhti-lightGreen: #EBF6E6;
$viuhti-green: #CDF5BA;
$viuhti-darkGreen: #5CBB72;
$viuhti-darkestGreen: #0A130C;



@font-face {
    font-family: 'ubuntu';
    src: url('../misc/UbuntuTitling-Bold.ttf') format('truetype');
    ascent-override: 104%;
}

@font-face {
    font-family: 'mezmerize';
    src: url('../misc/Mesmerize_Sb.otf') format('opentype');
}

$font-family-sans-serif: 'ubuntu';
$font-family-header: 'mezmerize';

$body-bg-image: url("../img/bg.png");
$divider-max-height: 120px;
$divider-width: 90%;

$ERROR: red;



$body-bg: $viuhti-darkForest;
$body-color: $viuhti-dark;

$primary: $viuhti-orange;
$secondary: $viuhti-violet;

$bg-1: $body-bg;
$bg-2: $primary;

$link-color: $viuhti-blue;
$link-decoration: none;
$link-hover-color: $viuhti-orange;
$link-hover-decoration: none;


$title-color: $primary;

$box-border: $viuhti-dark $increment-xxs solid;
$box-border-radius: $increment-md;

$main-box-bg: $secondary;
$main-box-border-radius: $box-border-radius;


$table-header-color: $title-color;
$table-row-color: $body-color;
$table-border-color: $primary;

$speechbubble-bg: $viuhti-white;


// Incentives
$incentive-label-color: $viuhti-white;
$incentive-dropdown-text-color: $viuhti-dark;
$incentive-dropdown-hover-color: $viuhti-orange;
$incentive-closed-text-color: $viuhti-orangedark;

$incentive-button-color: $secondary;
$incentive-button-font-size: 1.2rem;

$incentive-copy-button-color: $secondary;
$incentive-copy-button-hover-color: $viuhti-white;

$incentive-bar-border-radius: 2px;
$incentive-bar-bg-color: $viuhti-darkerPurple;
$incentive-bar-fill-color: $viuhti-darkGreen;

$incentive-count-text-color: $viuhti-dark;
$incentive-popup-bg-color: $viuhti-darkForest;

// Donate bar

$donate-bar-border: none;
$donate-bar-fill-border: none;
$donate-bar-bg-color: $viuhti-darkerPurple;
$donate-bar-color: $viuhti-orange;
$donate-bar-text-color: $viuhti-white;
$donate-bar-color-full: $viuhti-darkGreen;
$donate-bar-text-color-full: $viuhti-dark;


// timetable

$twitch-link-color: $link-color;
$twitch-link-hover-color: $link-hover-color;


$ttt-game-bg-color: $bg-2;
$ttt-game-hover-bg-color: $bg-1;

