# Dev tools
.github/
.idea/
.vscode/
.tool-versions
.gitignore

# Compile time files
__pycache__/
staticfiles/
sassfiles/
node_modules/

# Ephemeral
media/

# Non-functional
deployment/
docker/
Dockerfile*
docker-compose*.yml
*.sqlite3
*.sqlite
*.md
*.txt
