[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=3.2"
django-filer = "*"
djangocms-text-ckeditor = "*"
djangocms-link = "*"
djangocms-file = "*"
djangocms-picture = "*"
djangocms-snippet = "*"
djangocms-style = "*"
django-bootstrap-v5 = "*"
django-sass-processor = "==1.1"
libsass = "*"
whitenoise = {extras = ["brotli"], version = "*"}
django-compressor = "*"
python-decouple = "*"
psycopg2 = "*"
requests = "*"
django-storages = {extras = ["azure"], version = "~=1.13"}
python-dateutil = "*"
requests-cache = "*"
gunicorn = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python manage.py runserver"
mm = "python manage.py makemigrations"
migrate = "python manage.py migrate"
test = "python manage.py test --settings=vauhtijuoksu.settings.tests"
