@import "static/genericSideViuhti/layout/css/layout";

// overrides


.title {
  .textlogo {
    max-width: unset;
    width: 120%;
    margin-top: -10%;
    margin-bottom: -10%
  }
}

.main-box {
  width: calc(100% - 40px);
}

.side-page-layout {
  .content-side{
    margin: 60px 20px 10px 10px;
  }
}


@include media-breakpoint-down(lg) {
  .side-page-layout {
    padding: 0 0;
    .content-side {
      width: calc(100vw - 10px);
      max-width: 900px;
      margin: 50px auto 10px auto;
    }
    .extra-side {
      display: none;
    }
  }
}
@include media-breakpoint-down(md) {
  html, body, input, textarea{
    font-size: 18px !important;
  }
}
@include media-breakpoint-down(sm) {
  html, body, input, textarea{
    font-size: 16px !important;
  }
  .side-page-layout {
    padding: 0 0;
    .content-side {
      width: calc(100vw + 20px);
      margin: 40px -10px 10px -10px;
    }
  }
}
