{% extends "vauhtijuoksu/main/generic/genericSideViuhti.html" %}
{% load i18n %}
{% block override %}
    {% if messages %}
        <div>
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </div>
    {% endif %}
    <div>
        <br/>
            {% if user.is_authenticated %}

                    <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>

            {% endif %}

    </div>
    {% block content %}
    {% endblock content %}
{% endblock override %}
{% block extra_body %}
{% endblock extra_body %}