{% extends "generic_base.html" %}
{% load static cms_tags menu_tags sekizai_tags sass_tags %}

{% block body %}
    {% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>{% endaddtoblock %}
    {% addtoblock "theme_css" %}<link href="{% sass_src 'vauhtijuoksu2026/css/style.scss' %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'bootstrap.min.js' %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "js/speechbubble.js" %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "vauhtijuoksu2026/js/script.js" %}"></script>{% endaddtoblock %}

    <div class="parallax-background fadey">
    <div class="parallax-background2">
    <div class="widelogoholder">
        <img class="textlogo" src="{% static 'vauhtijuoksu2026/img/logo.png' %}">
    </div>
    <div id="fs-container">
        <div class="full-content">
            <div class="menu-wrapper">
                <div class="menu">
                    {% show_menu %}
                </div>
            </div>
            {% placeholder "content" %}
        <div class="bottompadder">
        </div>
        </div>
    </div>
    </div>
    </div>
{% endblock body %}