// Global styles that should be applied to _all_ extending stylesheets

body, html{
  margin: 0;
  padding: 0;
}

body {
  background-image: $body-bg-image;
}

.content {
  background-color: $content-bg;
  text-align: $content-text-align;
  padding: $content-padding;
  margin: $content-margin;
  filter: $content-filter;
}

.divider {
  height: 30vw;
  max-height: $divider-height;
  width: $divider-width;
  background-image: url("../../vauhtijuoksu/img/divider_0.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  display: block;
}


.required-field > label::after {
  opacity: 50%;
  content: '*';
  margin-left: .1em;
  vertical-align: super;
  font-size: .75em;
}

.hide {
  display: none;
}

.sponsor {
  margin: $sponsor-margin;
  max-width: $sponsor-max-width;
  width: $sponsor-width;
}

.btn-primary:hover {
    background-color: $secondary;
    border-color: $secondary;
}

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

.table {
  color: $table-color;
  border-color: $table-border-color;
  
  th {
    color: $table-header-color;
  }
  tr {
    color: $table-row-color;
  }
}


@import 'menu';
@import 'donatebar';
@import 'incentives';
@import 'effects';
@import 'timetable';