// Global styles that should be applied to _all_ extending stylesheets

body, html{
  margin: 0;
  padding: 0;
}

body {
  background-image: $body-bg-image;
}

.main-box {
  border-radius: $main-box-border-radius;
  background-color: $main-box-bg;
  padding: $main-box-padding;
  margin: $main-box-margin;
}

.user-content{
  margin-top: $space-between-menu-and-content;
  text-align: $content-text-align;
  > img {
    max-width: 100%;
  }
}

.basic-box {
  border: $box-border;
  border-radius: $box-border-radius;
}

.divider {
  height: $divider-height;
  max-height: $divider-max-height;
  width: $divider-width;
  max-width: $divider-max-width;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  display: block;
}

.divider-0 {
  background-image: $divider-0
}
.divider-1 {
  background-image: $divider-1
}
.divider-2 {
  background-image: $divider-2
}
.divider-3 {
  background-image: $divider-3
}

.required-field > label::after {
  opacity: 50%;
  content: '*';
  margin-left: .1em;
  vertical-align: super;
  font-size: .75em;
}

.hide {
  display: none;
}

.fixed{
  position: fixed;
}

.sponsor {
  margin: $sponsor-margin;
  max-width: $sponsor-max-width;
  width: $sponsor-width;
}


.sponsors{
  .newLiner{
    width: 100%;
    margin-bottom: 0;
    height: 0;
  }
  .sponsor{
    .big, .medium, .small{

      width: 100%;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
    .big{
      max-width: 260px;
    }
    .medium{
      max-width: 200px;
    }
    .small{
      max-width: 140px;
    }
  }
  .sponsor img {
    max-width: 95%;
    max-height: 95%;
  }
}


.btn-primary:hover {
    background-color: $secondary;
    border-color: $secondary;
}

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

.table {
  color: $table-color;
  border-color: $table-border-color;
  
  th {
    color: $table-header-color;
  }
  tr {
    color: $table-row-color;
  }
}


@import 'menu';
@import 'donatebar';
@import 'incentives';
@import 'effects';
@import 'timetable';