.incentives {
  text-align: left;
  label {
    color: $incentive-label-color;
  }
}

.incentive_dropdown {
    min-height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $incentive-dropdown-text-color;
}

.i_closed {
    color: $incentive-closed-text-color;

}

.incentive_dropdown:hover {
    color: $incentive-dropdown-hover-color;
}

.incentive_dropdown_text {
  text-decoration: underline;
}

.intend {
  margin-left: 20px;
}
.rotate {
    transform: rotate(90deg);
}

input[type='checkbox'] {
    width: $incentive-checkbox-size;
    height: $incentive-checkbox-size;
    background: $white;
}

.incentive_bar {
  height: $incentive-bar-height;
  border-radius: $incentive-bar-border-radius;
  box-sizing: border-box;
  margin-top: $incentive-bar-margin-top;
  margin-bottom: $incentive-bar-margin-bottom;
  background-color: $incentive-bar-bg-color;
}

.incentive_bar_fill {
  background-color: $incentive-bar-fill-color;
  height: 100%;
}

.highlight {
    color: #8feeee;
}


#incentive_action_popup {
  z-index: 100;
  position: sticky;
  bottom:-7px;
  top: -7px;
  width: 100%;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.29));
  background-color: $incentive-popup-bg-color;
  margin: 40px -20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .incentive_popup_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;


    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    .incentive_code {
      font-size: 48px;
    }

    #incentive_count_info{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .multiincentive {
      #incentivecount {
          color: $incentive-count-text-color;
      }
    }

    .incentive_gen_button {
      background-color: $incentive-button-color;
      font-size: $incentive-button-font-size;
      padding: 15px 30px;
      width: 300px;
    }

    .copybtn {
        margin-top: 5px;
        text-decoration: underline;
        cursor: pointer;
        color: $incentive-copy-button-color;
        
        &:hover {
          color: $incentive-copy-button-hover-color;
        }
    }
    #incentive_code_holder {
      width: 300px;
    }
    #incentive_popup_close {
      font-size: 72px;
      font-weight: 900;
      color: #da3553;
      cursor: pointer;
      transform: scale(1.2, 1);
    }

  }
}