.menu-wrapper {
  padding: $menu-padding;

  &.fullscreen {
    margin-top: -230px;
    padding-bottom: 0px;
    min-height: 0px;
  }

  .menu {
    display: flex;
    z-index: 10000;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 32px;

    > div {
      padding-left: 20px;
      padding-right: 20px;
    }

    .menu-link {
      color: $menu-link-color;
      padding-left: 20px;
      padding-right: 20px;

      &:visited {
        color: $menu-link-color;
      }

      &:hover {
        color: $menu-link-hover-color;
      }

      &:active {
        color: $menu-link-color;
      }
    }
  }
}
#floating-menu{
  position: fixed;
  top: -200px;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 9999998;
}