// Override variables (from _variables.scss and bootstrap)

.speechbubble-positioner {
  position: absolute;
  top: -960px;
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#vj-mobile-speechbubble{
  display: none;
  margin-top: 60px;
  position: relative;
  > div{
    left: 0;
    right: 0;
    position: absolute;
    top: -960px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .speechbubble{
      max-width: 60%;
      font-size: 0.8rem;
      border-radius: 40px;
      padding: 20px;
      > img{
        max-width: 100%;
        max-height: 100px;
      }
    }
  }
  > img{
    max-width: 60%;
  }
}
$speechbubble-bg: #DED5D2FF;
$viuhti-dark: #16031B;
$viuhti-darkfade: rgba(22, 3, 27, 0.68);
$viuhti-violet: #87597B;
.speechbubble {
  background-color: $speechbubble-bg;
  text-align: center;
  border-radius: 50px;
  padding: 30px;
  transform: rotate(10deg);
  opacity: 1;
  transition: opacity 1s;
  max-width: 70%;
  filter: drop-shadow(1px 0px 0px $viuhti-dark) drop-shadow(0px 1px 0px $viuhti-dark) drop-shadow(0px -1px 0px $viuhti-dark) drop-shadow(-1px 0px 0px $viuhti-dark) drop-shadow(1px 1px 0px $viuhti-dark) drop-shadow(-1px 1px 0px $viuhti-dark) drop-shadow(-1px -1px 0px $viuhti-dark) drop-shadow(1px -1px 0px $viuhti-dark) drop-shadow(5px 5px 4px $viuhti-darkfade);
  > * {
    filter: none;
  }
  > img {
    max-width: 100%;
  }
  a {
    color: #020728;
    text-decoration: underline;
  }
  a:active {
    color: #020728;
  }
  a:visited {
    color: #020728;
  }
  a:hover {
    color: $viuhti-violet;
  }
}

.speechbubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 40%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: $speechbubble-bg;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
    transform: rotate(20deg);
}

#speechbubble.fade {
  opacity: 0;
}
.speechbubble > p:last-child {
  margin-bottom: 0;
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px, /* bs: 576px */
    md: 768px, /* bs: 768px */
    lg: 992px, /* bs: 992px */
    xl: 1200px,
    xxl: 1400px,
);
@media (max-width: 992px) {
  #vj-mobile-speechbubble{
    display: inline-block;
  }
}

