
#player-form, #game-form{
  input, textarea{
    background-color: $vj26green1;
    border-color: $vj26dark;
    color: $vj26dark;
  }
  input::placeholder, textarea::placeholder{
    color: #748f94;
    opacity: 1;
  }
  .form-text{
    color: #0f2225 !important;
  }
}