$donate-bar-border: none;
$donate-bar-fill-border: none;
$donate-bar-bg-color: $secondary;
$donate-bar-color: $vj26blue2;
$donate-bar-text-color: $vj26light;
$donate-bar-color-full: $vj26green2;
$donate-bar-text-color-full: $vj26green0;



.donate-bar {
  color: $donate-bar-text-color;
  background-color: $donate-bar-bg-color;
  border-radius: $donate-bar-border-radius;
  border: $donate-bar-border;

  .bar {
    background-color: $donate-bar-color;
    border-radius: $donate-bar-border-radius;
    border: $donate-bar-fill-border;
  }

  .bar.full {
    background-color: $donate-bar-color-full;
  }
  .bar-text{
    top: 0px;
  }
  .bar-done{
    color: $donate-bar-text-color-full;
  }
}