
$twitch-link-color: $link-color;
$twitch-link-hover-color: $link-hover-color;
$twitch-icon-image: url("../img/twitch.png");

.playplayer .twitch-link, .twitch-link {
  color: unset;
  text-decoration: underline;
  transition: text-decoration-color 0.6s ease;
  & > span {
    color: $twitch-link-color;
    transition: text-decoration-color 0.6s ease;
  }
  &:hover{
    color: $twitch-link-hover-color;
    & > span {
      color: $twitch-link-hover-color;
    }
  }
  .twitch-icon {
    content: $twitch-icon-image;
    &.twitch-icon-sm {
      width: $twitch-icon-sm-width;
    }
  }
}

.timetable {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-wrap-style: pretty;
  .ttplay {
    display: flex;
    flex-direction: row;
  }
  .playdate {
    text-align: left;
    font-size: $timetable-date-font-size;
  }

  .playleft {
    display: inline-block;
    text-align: right;
    width: $timetable-left-width;
    margin-bottom: $timetable-row-margin-bottom;
    white-space: nowrap;
  }

  .playblob {
    display: flex;
    width: $timetable-blob-width;
  }
  .timetable-char {
    position: relative;
    width: 100%;
    img.char {
      position: absolute;
      left: 45%;
      top: 45%;
      max-width: 110%;
      max-height: 120px;
      transform: translate(-50%, -50%) rotate(0deg);
      transition: transform 10s cubic-bezier(0.6,0.0,0.10,1.05);
    }
  }
  .charOutline {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .playright {
    display: inline-block;
    text-align: left;
    width: $timetable-right-width;
    margin-bottom: $timetable-row-margin-bottom;
  }
  .playgame {
    font-size: 1.4em;
    line-height: 1.1;
  }
  .playcategory {
    font-size: 0.9em;
    color: $vj26blue0;
  }
  .playplayer {
    font-size: 0.9em;
  }

  .playdate {
    font-size: 2em;
  }
  .ttplay:hover {
    .timetable-char {
      & img.char {
        transition: transform 10s cubic-bezier(0.9,-0.05,0.4,1.0);
        transform: translate(-50%, -50%) rotate(2160deg);
      }
    }
  }
}
