
$twitch-link-color: $link-color;
$twitch-link-hover-color: $link-hover-color;
$twitch-icon-image: url("../img/twitch.png");

.playplayer .twitch-link, .twitch-link {
  color: unset;
  text-decoration: underline;
  transition: text-decoration-color 0.6s ease;
  & > span {
    color: $twitch-link-color;
    transition: text-decoration-color 0.6s ease;
  }
  &:hover{
    color: $twitch-link-hover-color;
    & > span {
      color: $twitch-link-hover-color;
    }
  }
  .twitch-icon {
    content: $twitch-icon-image;
    &.twitch-icon-sm {
      width: $twitch-icon-sm-width;
    }
  }
}

.timetable {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-wrap-style: pretty;
  .ttplay {
    display: flex;
    flex-direction: row;
  }
  .playdate {
    text-align: left;
    font-size: $timetable-date-font-size;
  }

  .playleft {
    display: inline-block;
    text-align: right;
    width: $timetable-left-width;
    margin-bottom: $timetable-row-margin-bottom;
    white-space: nowrap;
  }

  .playblob {
    display: flex;
    width: $timetable-blob-width;
  }
  .timetable-char {
    position: relative;
    width: 100%;
    img.char {
      position: absolute;
      left: 45%;
      top: 45%;
      max-width: 110%;
      max-height: 120px;
      transform: translate(-50%, -50%) rotate(0deg);
      transition: transform 10s cubic-bezier(0.6,0.0,0.10,1.05);
    }
  }
  .charOutline {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .playright {
    display: inline-block;
    text-align: left;
    width: $timetable-right-width;
    margin-bottom: $timetable-row-margin-bottom;
  }
  .playgame {
    font-size: 1.4em;
    line-height: 1.1;
  }
  .playcategory {
    font-size: 0.9em;
    color: $vj26blue0;
  }
  .playplayer {
    font-size: 0.9em;
  }

  .playdate {
    font-size: 2em;
  }
  .ttplay:hover {
    .timetable-char {
      & img.char {
        transition: transform 10s cubic-bezier(0.9,-0.05,0.4,1.0);
        transform: translate(-50%, -50%) rotate(2160deg);
      }
    }
  }
}
$tttgameborder: $vj26blue1;

.tabletimetable {
  .fullscreen & {
    height: 200vh;
  }
  text-wrap-style: pretty;
  .timestamps {
      color: $vj26dark;
    > div {
      > div {
      }
      > div:nth-child(3) {
      }
    }
  }

  .tttheader {
    .tttday {
      color: $vj26dark;
    }
  }
  .tttcontent {
     .tttday {
    }
  }
  .tttgame {
    background-color: $vj26blue2;
    border: $tttgameborder 3px solid;
    &.end-cut {
      border-bottom: 3px dotted $tttgameborder;
    }
    &.start-cut {
      border-top: 3px dotted $tttgameborder;
    }
    & > div {
      font-size: 18px;
    }
    .twitch-link{
      .twitch-icon{
        width: 0.7em;
        margin-top: -0.3em;
      }
      &:hover .twitch-icon{
        margin-top: -0.4em;

      }
    }
    padding-top: 0.2em;
    .tttimg {
      filter: sepia(1) hue-rotate(187deg) saturate(1.6);
      transform: scale(0.5) translate(45%,-43%) rotate(15deg);
      transition: transform 0.5s ease-in-out;
    }
    &:hover {
      padding-left: 35px;
      padding-top: 0;
     .tttimg {
        width: 15px;
        height: 15px;
        transition: transform 0.2s ease-in-out;
        filter: none;
        transform: scale(1) translate(0,0) rotate(0deg);
     }
      > div {
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.26);
        border: $secondary 2px solid;
        background-color: $primary;
        padding-bottom: 0px;
        & > div:not(.tttimg) {
          padding-bottom: 0px;
          padding-top: 0.2em;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .playleft {
    font-size: 0.9em;
    white-space: normal;
    width: 25%;
  }
  .playblob {
    width: 18%;
  }
  .playright {
    width: 57%;
  }
}

@include media-breakpoint-down(sm) {
  .playleft {
    font-size: 0.8em;
    white-space: normal;
    width: 22%;
  }
  .playblob {
    width: 19%;
  }
  .playright {
    width: 52%;
  }
}