// Override variables (from _variables.scss and bootstrap)

// Examples
$white: #ffffff;
$black: #000871;
$darkblue: #000871;
$violet: #8854f3;
$blue: #639bff;
$green: #63ffba;
$orange: #ff8c5c;
$red: #ff79ae;
$yellow: #fff982;

$mimipalette1: #180219;
$mimipalette2: #34083d;
$mimipalette3: #770052;
$mimipalette4: #b70b86;
$mimipalette5: #dc5bb0;
$mimipalette6: #875bbf;
$mimipalette7: #5325a0;
$mimipalette8: #271685;
$mimipalette9: #170358;
$mimipalette10: #436274;

$palette-darker: $mimipalette1;
$palette-dark: $mimipalette2;
$palette-c1-light: $mimipalette5;
$palette-c1: $mimipalette4;
$palette-c1-dark: $mimipalette3;
$palette-c2-light: $mimipalette6;
$palette-c2: $mimipalette7;
$palette-c2-dark: $mimipalette8;

$primary: $mimipalette4;
$secondary: $mimipalette8;

$content-background-color: $mimipalette1;
$background-color: $mimipalette2;
$content-shadow: $mimipalette1;
$title-color: $mimipalette4;
$link-normal-color: $mimipalette5;
$text-color: $mimipalette6;

$menu-link-drop-shadow: $mimipalette2;
$link-hover-color: $mimipalette6;
$menu-link-normal-color: $mimipalette5;
$menu-link-hover-color: $mimipalette7;

$table-header-color: $title-color;
$table-row-color: $text-color;
$table-border-color: $mimipalette3;

$font-size-root: 22px;
$donate-bar-height: 50px;

@import "static/css/base";

// Actual styles here

@font-face {
    font-family: 'offsett';
    src: url('../misc/Offsett.ttf') format('truetype');
}

body {
  background-image: url("../img/bg.png");
}

.title.bigletters {
  margin-top: 10px;
  font-family: 'offsett';
  color: $title-color;
  justify-content: space-around;
  display: flex;
  font-size: 84px;
  > img {
    height: 100px;
  }
}

@media only screen and (max-width: 820px) {
  .title.title.bigletters {
    font-size: 48px;
    > img {
      height: 80px;
    }
  }
}
@media only screen and (max-width: 620px) {
  .title.bigletters {
    font-size: 32px;
    > img {
      height: 50px;
    }
  }
}
@media only screen and (max-width: 420px) {
  .title.bigletters {
    font-size: 22px;
    > img {
      height: 30px;
    }
  }
}

