{% extends "generic_base.html" %}
{% load static cms_tags menu_tags sekizai_tags sass_tags %}

{% block body %}
    {% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>{% endaddtoblock %}
    {% addtoblock "css" %}<link href="{% sass_src 'genericSideViuhti/css/style.scss' %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'bootstrap.min.js' %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "js/speechbubble.js" %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "genericSideViuhti/js/script.js" %}"></script>{% endaddtoblock %}

    <div class="widelogoholder">
        <img class="icon" src="{% static 'genericSideViuhti/img/icon.png' %}">
        <img class="textlogo" src="{% static 'genericSideViuhti/img/logo.png' %}">

    </div>
    <div id="fs-container">
        <div class="full-content">
            <div class="menu-wrapper">
                <div class="menu">
                    {% show_menu %}
                </div>
            </div>
            {% placeholder "content" %}
        <div class="bottompadder">
        </div>
        </div>
    </div>
{% endblock body %}