{% extends "generic_base.html" %}
{% load static cms_tags menu_tags sekizai_tags sass_tags %}

{% block body %}
    {% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>{% endaddtoblock %}
    {% addtoblock "css" %}<link href="{% sass_src 'vauhtijuoksuGenericV2/css/style.scss' %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'bootstrap.min.js' %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "js/speechbubble.js" %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "js/anchorlinks.js" %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "vauhtijuoksuGenericV2/js/script.js" %}"></script>{% endaddtoblock %}

    <div id="floating-menu">
        <div class="floating-menu">
            <div class="menu hide-in-small">
                {% show_menu %}
            </div>
            <div class="hide-in-small">|</div>
            <div class="menu ">
                <a href="" onclick="topFunction()" id="scroll_to_top_btn">Takaisin ylös</a>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="page-container">
            <div class="content-container">
                <div class="title">
                    <img class="icon" src="{% static 'vauhtijuoksuGenericV2/img/icon.png' %}">
                    <img class="textlogo" src="{% static 'vauhtijuoksuGenericV2/img/logo.png' %}">
                </div>
                <div class="content">
                    <div class="menu-wrapper">
                        <div class="menu">
                            {% show_menu %}
                        </div>
                    </div>
                    <div id="anchor-menu">
                    </div>
                    {% block override %}{% endblock override %}
                    {% placeholder "content" %}
                </div>
            </div>
            <div class="side-container">
                <div class="sidebox">
                    <div>
                        <div class="speechbubble-positioner">
                            <div class="speechbubble fade">
                                Hello??
                                <br>
                                LOL
                            </div>
                        </div>
                    <img src="{% static 'vauhtijuoksuGenericV2/img/nettisivuviuhti.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}