{% extends "generic_base.html" %}
{% load static cms_tags menu_tags sekizai_tags sass_tags %}

{% block body %}
    {% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>{% endaddtoblock %}
    {% addtoblock "css" %}<link href="{% sass_src 'vauhtijuoksu2022/css/vj2022.scss' %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'bootstrap.min.js' %}">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "vauhtijuoksu2022/js/script.js" %}"></script>{% endaddtoblock %}

    <img class="full_header" src="{% static "vauhtijuoksu2022/img/header-full.png" %}">
    <div id="fs-container">
        <div class="full-content">
            <div class="menu-wrapper">
                <div class="menu">
                    {% show_menu %}
                </div>
            </div>
            {% placeholder "content" %}
        </div>
    </div>
{% endblock body %}