{% extends "generic_base.html" %}
{% load static cms_tags menu_tags sekizai_tags sass_tags %}

{% block body %}
    {% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>{% endaddtoblock %}
    {% addtoblock "css" %}<link href="{% sass_src 'vauhtijuoksu2023/css/style.scss' %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'bootstrap.min.js' %}"></script>{% endaddtoblock %}

    <div id="container">
        <div class="container content">
            <img src="{% static 'vauhtijuoksu2023/img/logo.png' %}" class="header-logo">
            <div class="menu-wrapper">
                <div class="menu">
                    {% show_menu %}

                </div>
            </div>
            {% placeholder "content" %}
        </div>
    </div>
{% endblock body %}