{% extends "generic_base.html" %}
{% load static cms_tags menu_tags sekizai_tags sass_tags %}

{% block body %}
    {% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>{% endaddtoblock %}
    {% addtoblock "css" %}<link href="{% static 'vauhtijuoksu2021plus/css/vj2021plus.css' %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'bootstrap.min.js' %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "vauhtijuoksu2021plus/js/script.js" %}"></script>{% endaddtoblock %}

    <div id="container" class="fullscreen">
        <div class="header-image ice-bottom">
            <div class="header-image water">
                <div class="header-image ice-top">
                </div>
            </div>
        </div>
        <div class="header">
            <div class="tittle"><div>V</div><div>A</div><div>U</div><div>H</div><div>T</div><div>I</div><div>J</div><div>U</div><div>O</div><div>K</div><div>S</div><div>U</div><div>+</div><div>&nbsp;</div><div>2021</div></div>
        </div>
        <div class="content">
            <div class="menu-wrapper">
            </div>
            {% placeholder "content" %}
        </div>
        <div class="menu">
            {% show_menu %}
        </div>
    </div>
{% endblock body %}