{% extends "generic_base.html" %}
{% load static cms_tags menu_tags sekizai_tags sass_tags bootstrap5 %}

{% block body %}
    {% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>{% endaddtoblock %}
    {% addtoblock "css" %}<link href="{% sass_src 'vauhtijuoksu2021plus/css/vj2021plus.scss' %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'bootstrap.min.js' %}">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "vauhtijuoksu2021plus/js/script.js" %}"></script>{% endaddtoblock %}

    <div id="container">
        <div class="header-image ice-bottom">
            <div class="header-image water">
                <div class="header-image ice-top">
                </div>
            </div>
        </div>
        <div class="header">
            <div class="tittle"><div>V</div><div>A</div><div>U</div><div>H</div><div>T</div><div>I</div><div>J</div><div>U</div><div>O</div><div>K</div><div>S</div><div>U</div></div>
            <div class="header-menu">
                <div>
                    {% show_menu %}
                </div>
            </div>
        </div>
        <div class="container content">
            {% placeholder "content" %}
            <img class="divider" src="{% static "vauhtijuoksu2021plus/img/divider_0.png" %}">
            <img class="divider" src="{% static "vauhtijuoksu2021plus/img/divider_1.png" %}">
            <img class="divider" src="{% static "vauhtijuoksu2021plus/img/divider_2.png" %}">
            <img class="divider" src="{% static "vauhtijuoksu2021plus/img/divider_3.png" %}">
        </div>
    </div>
{% endblock body %}