{% extends "generic_base.html" %}
{% load static cms_tags menu_tags sekizai_tags sass_tags %}

{% block body %}
    {% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>{% endaddtoblock %}
    {% addtoblock "css" %}<link href="{% sass_src 'vauhtijuoksuGeneric/css/style.scss' %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'bootstrap.min.js' %}">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "vauhtijuoksuGeneric/js/script.js" %}"></script>{% endaddtoblock %}

    <div id="container">
        <div class="container content">
            <div class="title"><img src="{% sass_src 'vauhtijuoksuGeneric/img/logo.png' %}"><div>V</div><div>A</div><div>U</div><div>H</div><div>T</div><div>I</div><div>J</div><div>U</div><div>O</div><div>K</div><div>S</div><div>U</div></div>
            <div class="menu-wrapper">
                <div class="menu">
                    {% show_menu %}

                </div>
            </div>
            {% placeholder "content" %}
        </div>
    </div>
{% endblock body %}