{% load static sekizai_tags cms_tags menu_tags account socialaccount %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% page_attribute "page_title" %}</title>
  {% render_block "css" %}
  {% block head %}{% endblock %}
</head>

{% addtoblock "js" %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>{% endaddtoblock %}

<body>
  {% cms_toolbar %}

  {% block body %}{% endblock %}

</body>
<footer>
  {% block footer %}
    <div class="footer d-flex justify-content-center my-2">
      <div>
        {% if user.is_authenticated %}
        Hei, {% user_display user %}.
        <a href="{% url 'account_logout' %}">Kirjaudu ulos</a>
        {% else %}
        <a href="{% provider_login_url "discord" next=request.path %}">Kirjaudu sisään</a>
        {% endif %}
      </div>
    </div>
  {% endblock %}
</footer>
{% render_block "js" %}
</html>
