{% extends "generic_base.html" %}
{% load static cms_tags sekizai_tags bootstrap5 %}



{% block body %}
  {% addtoblock "css" %}{% bootstrap_css %}{% endaddtoblock %}
  {% addtoblock "css" %}<link href="{% static "vauhtijuoksu/css/style.css" %}" media="screen" rel="stylesheet" type="text/css" />{% endaddtoblock %}
  {% addtoblock "js" %}{% bootstrap_javascript %}{% endaddtoblock %}

  <div id="container">
    <div class="container header">
      <img class="header-logo" src="{% static "vauhtijuoksu/img/pixelheader_chars.png" %}">
      <img class="header-logo" src="{% static "vauhtijuoksu/img/menubg.png" %}">
      <div class="header-menu">
        <div>
          <a href="#">Vauhtijuoksu</a>
        </div>
      </div>
    </div>
    <div class="container">
      {% placeholder "content" %}
    </div>
  </div>
{% endblock body %}