
#player-form, #game-form{
  input, textarea{
    font-size: 1rem;
  }
}


@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
  textarea{
    font-size: 20px !important;
  }
}
@include media-breakpoint-down(sm) {
  textarea{
    font-size: 17px !important;
  }
}