#vj-plugin-anchor-menu{
  margin-top: $increment-sm;
  text-align: $content-text-align;
}
.menu {
  .menu-link {
    flex-grow: 1;
    margin-bottom:1px;
  }
  .anchor-menu-link {
    flex-grow: 0;
  }
}

@include media-breakpoint-down(lg) {
  .floating-menu {
    margin-right: auto;
    margin-left: auto;
  }
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
}
