// Override variables (from _variables.scss and bootstrap)

// Examples
$white: #fcfefe;
$black: #18191f;
$blue_ice: #67c9e7;
$dark_glow: #2c2b48;
$header-h: 496px;
$font-size-root: 36px;

@import "static/css/base";

// Actual styles here

@font-face {
    font-family: 'lunchds';
    src: url('../misc/lunchds.ttf') format('truetype');
}

@font-face {
    font-family: 'orangekid';
    src: url('../misc/orangekid.ttf') format('truetype');
}

body {
  font-family: 'orangekid';
  background-image: url("../img/background.png");
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-size: 1280px;
  background-color: $black;
  color: white;
  background-repeat: repeat-x;
  background-position: top center;
}

.header-image{
  background-size: 1280px;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: $header-h;
}
.ice-bottom{
  background-image: url("../img/icebottom.png");
}
.water{
  background-image: url("../img/water.png");
  background-repeat: repeat-x;
}
.ice-top{
  background-image: url("../img/icetop.png");
}

.divider{
  width: 128px;
  display: block;
}

.header{
  position: absolute;
  top: 0;
  z-index: -100000;
  height: $header-h;
  width: 100%;
}
.tittle{
  font-family: 'lunchds';
  color: #728697;
  justify-content: space-around;
  display: flex;
  font-size: 64px;
}

.content{
  text-shadow:  0 0 5px $black, 0 0 5px $black, 2px 2px $black;
  text-align: center;
}

.divider{
  width: 128px;
  margin: auto;
  display: block;
}

.menu-wrapper{
  margin-top: -172px;
  min-height: 150px;
  padding-bottom: 50px;
}

.fullscreen .menu-wrapper{
  margin-top: -230px;
  padding-bottom: 0px;
  min-height: 0px;

}


.menu{
  display: flex;
  z-index: 10000;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 48px;
  line-height: 56px;
  text-shadow: 3px 3px $black, 3px 0px $black, 3px -3px $black, 0px 3px $black, 0px -3px $black, -3px 3px $black, -3px 0px $black, -3px -3px $black;
}

.twitch-icon{
  width: 26px;
  margin-top: -30px;
}
.small-twitch-icon{
  margin-top: -15px;
}

.menu > div{
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 820px) {
  .menu-wrapper{
    margin-top: -230px;
    min-height: 210px;
    padding-bottom: 50px;
  }
}
a{
  text-decoration: none;
  color: $blue_ice;
}
a:active{
  text-decoration: none;
  color: $blue_ice;
}
a:visited{
  text-decoration: none;
  color: $blue_ice;
}
a:hover{
  text-decoration: none;
  color: $white;
}

.menu-link {
  color: $white;
  padding-left: 50px;
  padding-right: 50px;
}

.menu-link:hover {
  color: $blue_ice;
}

.twitch-link{
  color: $white;
  white-space: nowrap;
}
.twitch-link:active{
  color: $white;
}
.twitch-link:visited{
  color: $white;
}
.twitch-link:hover{
  color: $blue_ice;
}
.twitch-link:hover .twitch-icon{
  margin-top: -42px;
}
.twitch-link:hover .small-twitch-icon{
  margin-top: -20px;
}
.timetable{
    display: flex;
    flex-direction: column;
}

.ttplay{
    display: flex;
    flex-direction: row;
}

.playleft{
    display: inline-block;
    text-align: right;
    width: 30%;
    margin-bottom: 30px;
    white-space: nowrap;
}

.playblob{

    display: flex;
    width: 15%;
}
.timetable-char {
  position: relative;
  width: 100%;
}
.timetable-char img{
  position: absolute;
  right: 5%;
  top: 50%;
  z-index: -10;
}

.char{
    position: absolute;
    transform: translate(-50%, -50%) scale(2);
    filter: drop-shadow(0px 1px 0px $black) drop-shadow(1px 0px 0px $black) drop-shadow(0px -1px 0px $black) drop-shadow(-1px 0px 0px $black)  drop-shadow(0px 1px 0px $dark_glow) drop-shadow(1px 0px 0px $dark_glow) drop-shadow(0px -1px 0px $dark_glow) drop-shadow(-1px 0px 0px $dark_glow);
}
.floaty{
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		margin-top: 0;
	}
	50% {
        margin-top: 20px;
	}
	100% {
		margin-top: 0;
	}
}

.playright{
    display: inline-block;
    text-align: left;
    width: 55%;
    margin-bottom: 30px;
}

.playdate{
  text-align: left;
  font-size: 64px;
}
.playgame{
  font-size: 52px;
  line-height: 40px;
}

.float_chars{
  z-index: -20;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  height: 100%;
  margin-top: -250px;
}
.sponsor{
  margin: 30px 0;
  max-width: 400px;
  width: 90%;
}

.timestamps{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
}
.timestamps > div{
  height: 2px;
  line-height: 2px;
}
.tabletimetable {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  gap: 10px;
}
.fullscreen .tabletimetable {
  height: 200vh;
}
.tttheader{
  display: flex;
  flex-direction: row;
  gap: 10px
}
.tttcontent{
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px
}
.tttday{
  flex: 1;
  position: relative;
  min-width: 0;
  height: 100%;
}
.tttgame{
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding-right: 20px;
  background-color: rgba(75, 89, 111, 0.56);
  border: $black 1px solid;
}
.tttgame:hover{
  overflow: visible;
  z-index: 100;
  padding-left: 20px;
  padding-right: 0px;
}
.end-cut {
  border-bottom: 2px dotted  $black;
}
.start-cut {
  border-top: 2px dotted  $black;
}
.tttgame >div{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  text-shadow: 1px 1px $black;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
.tttgame:hover > div{
  box-shadow: 2px 2px 3px $black;
  border: $black 1px solid;
  background-color: #4b596f;
}
.tttgame p {
  margin-bottom: 12px;
}
.tttimg{
  width: 56px;
  padding-right: 4px;
}
.tttimg > img{
  float: right;
}